<%= render "categories/sidebar" %>


<div class="form-container">
    <div class="form-content">
        <h2>New Category</h2>
        <%= render "form", category: @category %>
     
    </div>

     
</div>